.App {
  text-align: center;
}

#updatedText {
  display: inline-block;
  font-size: 15px;
  height: 75px;
}

#preview {
  margin-bottom: 6px;
  vertical-align: middle;
}

.label {
  display: inline-block;
  width: 35%;
  text-align: right;
  font-size: 12px;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.54);
}

.text {
  width: 56%;
  display: inline-block;
  text-align: left;
  font-size: 30px;
  margin-left: 30px;
}

.content {
  margin: 10px 0;
}