.App {
    text-align: center;
    width: 700px;
    margin: 0 auto;

}

.error-message {
    color: red;
}

.game-status {
    text-align: left;
}

.title {
    text-align: left;
    margin: 5px;
}

label {
    height: 30px;
}